<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <div>
        <h1>¡Bienvenido!</h1>
        
        <div>
            <h2>¿Ya tienes una cuenta?</h2>
            <a href="{% url 'login' %}">Ingresar a mi cuenta</a>
        </div>
        
        <div>
            <h2>¿Eres nuevo?</h2>
            <a href="{% url 'signup' %}">Crear cuenta nueva</a>
        </div>
    </div>
</body>
</html>