{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.title }}</title>
    <!-- Carga el archivo CSS -->

    <link rel="stylesheet" href="{% static 'css/post_details.css' %}">
</head>
<body>
    <div class="post-container">
        <div class="post-header">
            {% if object.image %}
            <img class="post-image" src="{{ object.image.url }}" alt="{{ object.title }}">
            {% endif %}
            <div>
                <h1 class="post-title">{{ object.title }}</h1>
                <div class="post-actions">
                    <a href="{% url 'post_update' object.pk %}" class="action-btn edit-btn">Editar</a>
                    <a href="{% url 'post_delete' object.pk %}" class="action-btn delete-btn">Eliminar</a>
                </div>
            </div>
        </div>
        
        <div class="post-content">
            <p class="post-description">{{ object.description }}</p>
            
            <div class="post-meta">
                <span>Publicado el: {{ object.pub_date|date:"d/m/Y" }}</span>
                <span>Autor: {{ object.author }}</span>
            </div>
        </div>
    </div>
</body>
</html>