<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <h1>{{ object.title }}</h1>
    <p>{{ object.description }}</p>
    {% if post_2.image %}
    <img src="{{ post_2.image.url }}" alt="{{post_2.tittle}}">
    {% endif %}
    <h6>{{ object.pud_date }}</h6>
    <h5>{{ object.author }}</h5>

    <!-- botones de crud -->
        <a href="{% url 'post_update' object.pk %}">Editar</a>  
        <a href="{% url 'post_delete' object.pk %}">Eliminar</a>
</body>
</html>